:root{
    --primary-color: hsl(10, 79%, 65%);
    --secondary-color: hsl(186, 34%, 60%);

    --tertiary-color: hsl(25, 47%, 15%);
    --fouthary-color: hsl(28, 10%, 53%);
    --fifthary-color: hsl(27, 66%, 92%);
    --sicthary-color:  hsl(33, 100%, 98%);
}

body{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.125rem ;
    background-color: var(--fifthary-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}